<!DOCTYPE html>
<html lang="en">
<head>
  <title>TRAVEL AGENCY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">TRAVEL</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/car/car1/">VEHICLES</a></li>
      <li><a href="/passenger/passenger1/">PASSENGERS</a></li>
      <li><a href="/trip/trip1/">TRIPS</a></li>
    </ul>
  </div>
</nav>
  
<div class="container" style="margin-top:50px">
  {% block content %}

  <h1>Information Regaerding Site</h1>

  {% endblock %}
  
 
</div>


</body>
</html>
