{% extends "bus/base.html" %}
{% block content %}
	<h2>Car Information</h2>
	<a href="/car/car_create">Create Car</a>
	<table border="2">
		<tr>
			<th>Name</th>
			<th>Number</th>
			<th>Capacity</th>
			<th>Fair</th>
			<th>Operations</th>
		</tr>
		{% for car in data %}
		<tr>
			<td>{{car.name }}</td>
			<td>{{car.number }}</td>
			<td>{{car.capacity}}</td>
			<td>{{car.fair}}</td>
			<td><a href="/car/car_update/{{car.id}}">UPDATE</a>||<a href="/car/car_delete/{{car.id}}">DELETE</a></td>
		</tr>
		{% endfor %}
	</table>

{% endblock %}